.App-header {
  background-image: url("../assets/homePicture2.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  color: "purple";
}

/* .imagesAccueil {
  display: flex;
  justify-content: center;
} */
.imagesAccueil img {
  width: 400px;
}
