.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: rgb(255, 249, 233);
  width: 250px;
  height: 430px;
  margin: 20px;
  border-radius: 15px;
  border-color: black;
  border-width: 1px;
}

.card-image {
  margin-bottom: 15px;
  border-radius: 15px 15px 0 0;
  border-color: black;
  border-bottom: 1px solid;
}
